{% extends 'base.twig' %}

{% block title %} Авторы {% endblock %}

{% block content %}
    <h2>Авторы</h2>
    <table cellspacing="5">
        <tr>
            <th>ID</th>
            <th>Имя</th>
        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td><a href="/authors/{{ author.id }}">{{ author.name }}</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}